  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido a GalaSports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">GalaSports</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container
  [loop]="true"
  [pagination]="true">
      <swiper-slide>
        <h1 class="blue-title">Bienvenido a GalaSports</h1>
        <p class="blue-title"> Ventas de los siguientes eventos:</p>
          <p class="black-p">Liga de Baloncesto de Colombia</p>
          <p class="black-p">Liga Betplay</p>
          <p class="black-p">Liga Betplay Femenina</p>
          <p class="black-p">Torneo Betplay</p>
        <img src="">
    </swiper-slide>
    <swiper-slide>
      <h1 class="blue-title">Eventos</h1>
        <p class="blue-p"></p>
        <img src="" alt="Fútbol">
          <p class="black-p">Fecha: 01/03/2024</p>
          <p class="black-p">Hora: 18:00</p>
          <p class="black-p">Estadio: Estadio XYZ</p>
          <p class="black-p">Equipos: Equipo A vs Equipo B</p>

          <img src="" alt="Fútbol">
          <p class="black-p">Fecha: 01/03/2024</p>
          <p class="black-p">Hora: 18:00</p>
          <p class="black-p">Estadio: Estadio XYZ</p>
          <p class="black-p">Equipos: Equipo A vs Equipo B</p>

          <img src="" alt="Fútbol">
          <p class="black-p">Fecha: 01/03/2024</p>
          <p class="black-p">Hora: 18:00</p>
          <p class="black-p">Estadio: Estadio XYZ</p>
          <p class="black-p">Equipos: Equipo A vs Equipo B</p>

          <img src="" alt="Fútbol">
          <p class="black-p">Fecha: 01/03/2024</p>
          <p class="black-p">Hora: 18:00</p>
          <p class="black-p">Estadio: Estadio XYZ</p>
          <p class="black-p">Equipos: Equipo A vs Equipo B</p>
        
    </swiper-slide>
    
    <swiper-slide>
      <h1 class="blue-title">Comprar boletas</h1>
        <p class="red-p"></p>

    </swiper-slide>
    <swiper-slide>
      <h1 class="blue-title">Contacto</h1>       
      <ion-list>
        <ion-item button href="https://wa.me/573245888872">
          <ion-icon class="icon-whatsapp" style="--background: transparent;" slot="start" name="logo-whatsapp"></ion-icon>
          <ion-label>WhatsApp</ion-label>
        </ion-item>
      
        <ion-item button href="https://www.instagram.com/tu_instagram">
          <ion-icon class="icon-instagram" style="--background: transparent;" slot="start" name="logo-instagram"></ion-icon>
          <ion-label>Instagram</ion-label>
        </ion-item>
      
        <ion-item button href="https://www.facebook.com/tu_facebook">
          <ion-icon class="icon-facebook" style="--background: transparent;" slot="start" name="logo-facebook"></ion-icon>
          <ion-label>Facebook</ion-label>
        </ion-item>
      </ion-list>
      
    </swiper-slide>
   </swiper-container>
   
  
</ion-content>
